@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #050505;
  color: #FCFCFC;
}

body {
  background-color: #06070B;
  color: #FCFCFC;
  /* Premium Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  padding-left: 20px;
  padding-right: 20px;
}

/* Custom Scrollbar to match the Dark Theme */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #06070B; 
}
::-webkit-scrollbar-thumb {
  background: #18181A; 
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2A2A2E; 
}